.chart {
  display: flex;
  justify-content: center;
  align-items: center;

  .lineChart {
    width: 90%;
    height: 500px;
  }

  .barChart {
    width: 90%;
    height: 500px;
  }
}

@media only screen and (min-width: 600px) {
  .chart {
    display: flex;
    flex-direction: row;

    .lineChart {
      width: 70%;
    }

    .barChart {
      width: 70%;
    }
  }
}
